<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>{{page.title}}</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <!-- <div class="container-fluid"> -->
      <a class="navbar-brand" href="/">Yiwe Yang</a>
      <ul class="nav navbar-nav">
        <li><a href="/projects">Projects</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.facebook.com/yiwei.yang.96"> <img src="images/fb.png" height="20px" width="20px" /> Facebook</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/yiwei-yang-1b8bb8125?trk=hp-identity-photo"><img src="images/linkedin.png" height="20px" width="20px"/> LinkedIn</a></li>
            <li><a class="dropdown-item" href="https://github.com/yanyiwei"><img src="images/github.png" height="20px" width="20px"/> Github</a></li>
            <li role="separator" class="divider"></li>
            <li> <a><img src="images/gmail.png" height="20px" width="20px"/> yanyiwei@umich.edu</a></li>
          </ul>
        </li>
        <li><a href="/yiwei_cv.pdf">Resume/CV</a></li>
      </ul>
    <!-- </div> -->
  </nav>

  <div id="main">

  		<!-- this is where content will be injected -->
      <!-- {{ content }} -->

      <div class="container about">

          <div class="row">
            <div class="col-sm-5">
              <img src="images/yiwei_at_ibm.jpg" class="img-circle" style="width: 400px;">
            </div>
              
            <div class="col-sm-7">
              <h1>Hi! I'm <strong>Yiwei Yang.</strong></h1>
              
              <p style="font-size:20px;">I am a 4th year undergraduate student at the <a href="http://umich.edu/">University of Michigan</a>, and am currently doing research with Professor Walter Lasecki in the 
                <a href="http://web.eecs.umich.edu/~wlasecki/croma.html">CRO+MA(Crowds+Machines) lab</a>.
              </p>
              
              <p style="font-size:20px;">I am interested in the intersection of Human-Computer Interaction (HCI) and Artificial Intelligence (AI). 
                Specifically, I want to create Hybrid Intelligence systems that leverage both human and machine intelligence to tackle problems that cannot be solved by either alone.
              </p>
            </div>
        
          </div>
        </div>



  </div>


</body>
</html>
